@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

@import url('pages/homepage.css');
@import url('layouts/header.css');
@import url('layouts/footer.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
  }
  
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

/* <================= Variables =================> */
:root {
    --main-color: #e70000;
    --secondary-color: #f0ab8d;
    --text-color: #ffffff;
    --secondary-text-color: #e70000;
    --background-color: rgb(14 8 0);
    --section-color: white;
    --fade: linear-gradient(to top, #ffffff, transparent);
    --background-color2: #f8f8f8;
    --layer: rgba(255, 255, 255, 0.806);
  }

  body {
    background : url("../assets/fond.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background: url("../assets/fond.png");
    -webkit-background-size: cover;
    overflow-x : hidden;
  }

  .background-body {
    position: relative;
  }

  .background-body img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    left: 0;
    top: 0;
}

  
h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-style: italic;
    text-shadow: hoff voff blur #000;
    color: var(--main-color);
    position: relative;
    font-size: 5rem;
  }
  
  h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #f0ab8d;
    z-index: -1;
    transition: transform .3s ease;
  }
  
  h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-style: italic;
    text-shadow: hoff voff blur #000;
    position: relative;
    color: var(--secondary-color);
    font-size: clamp(2em, 4vw, 3.8em);
    line-height: 1.3;
  }
  
  h2::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h2:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h2::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background:#e70000;
  
    z-index: -1;
    transition: transform .3s ease;
  }